<header>
  <h1>Stefamons</h1>
  <h3> Meus dados: Lucas</h3>
  <h3> Moedas: 100</h3>
</header>

<div style="width: 100%; display: flex; flex-grow: 1; flex-wrap: wrap; gap: 1rem; justify-content: center;">
  <ng-container *ngFor="let stefamon of stefamonList">
    <p-card header="{{ stefamon.nome }}" styleClass="p-card-shadow"
            [style]="{'width': '200px', 'margin-bottom': '2em'}">
      <p-header>
        <div style="width: 100%; padding: 1rem;">
          <img alt="Card" src="{{ stefamon.urlFoto }}">
        </div>
      </p-header>
      <p>Atributos</p>
      <ng-template pTemplate="footer">
        <button pButton [routerLink]="['/batalha']" class="p-mb-2" label="Batalhar contra bot"></button> 
        <button pButton [routerLink]="['/batalha']" class="p-mb-2" label="Batalhar contra jogador"></button> 
        <p-button label="Comprar" icon="pi pi-check"></p-button>
      </ng-template>
    </p-card>
  </ng-container>
</div>