<div class="p-grid p-jc-center p-ai-center vertical-container p-mt-15 p-p-5 h-100">

    <div class="p-col-6 p-jc-start p-p-0">
        <img src="assets/header.png"  style="width: 100%" />
    </div>

  <div class="p-col-3 p-jc-end p-shadow-3 p-p-5 card-cadastro">
    <div class="p-ai-center vertical-container">
      <div class="p-fluid p-p-2">
        <h1 class="p-text-center">Cadastrar novo Jogador</h1>
        <div class="p-field p-mt-3">
          <label for="login" class="p-sr-only">Login</label>
          <input id="login" type="text" pInputText placeholder="Login">
        </div>
        <div class="p-field">
          <label for="senha" class="p-sr-only">Senha</label>
          <input id="senha" type="password" pInputText placeholder="Senha">
        </div>
        <button pButton type="button" class="p-button-success" label="Cadastrar"></button>
      </div>
    </div>
  </div>
</div>
